*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
    height:80px;
    max-width:100vw;
    background-color:white;
    border-bottom:0.3px solid rgba(0, 0, 0, 0.152);
    box-shadow:3px 0px 5px rgba(0, 0, 0, 0.664);
    gap:60px;
    position:sticky;
    z-index:3;
    top:0px;
}
.nav-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-evenly;
    gap:60px;
    
}


.nav-bar i{
    font-size:20px;
    font-weight:600;
    align-self: center;
    margin-right:10px;
}

.hero{
    margin-top:50px;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
   
}

.hero-image{
    min-height:400px;
    width:350px;
    max-width:350px;
    background-image: url("images/hero_image.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    gap:20px;
}


.text{
    max-width:400px;
    justify-self: flex-start;
    align-self:center;
    line-height: 1.5;
}

.text-background{
    background-color: green;
    max-width:180px;
    color:white;
    padding:7px;
}

.text h1{
    font-size:3rem;
}

.text button{
    margin-top:10px;
    font-size:1.4rem;
    font-weight:500;
    padding:5px;
    height:3rem;
    width:9rem;
    background-color: rgba(255, 166, 0, 0.759);
    border:2px solid transparent;
    box-shadow:10px 10px 5px rgba(1, 1, 1, 0.152)
}

.delivery-container{
    max-width:1200px;
    margin:0  auto;
    margin-top:30px;
    display:flex;
    padding:30px 20px;
    justify-content: space-around;
    border-bottom:1px solid rgba(0, 0, 0, 0.564);
    box-shadow:0px 3px 5px rgba(0, 0, 0, 0.152);
}

.delivery-contents{
    display:flex;
}

.delivery-text{
    margin-left:10px;
}

.delivery-text h2{
    margin-bottom:5px;
}
.delivery-contents img{
    width:70px;
    height:70px;
}

.menu-button-container{
    margin:0 auto;
    margin-top:40px;    
    text-align:center;
}

.menu-button{
    margin:0 auto;
    text-align:center;
    height:2rem;
    width:6rem;
    background-color: rgba(0, 255, 34, 0.759);
    border:2px solid transparent;
    box-shadow:10px 10px 5px rgba(1, 1, 1, 0.152);
    transition: 0.2s ease-in;
}

.menu-button-container h2{
    margin-top:30px;
}

.menu-button:hover{
    box-shadow:10px 10px 5px rgba(1, 1, 1, 0.212);
    background-color: rgba(0, 255, 34, 0.932);
    color:white;
}

.menu-container{
 
    margin:60px 60px 30px 60px;
    display:grid;
    gap:10px;
    grid-template-areas: "I1 I1 I2 I3"
                          "I1 I1 I2 I7"
                          "I4 I5 I6 I7 ";
    transition:0.5s ease-in;
    z-index: 1;
    
}

.grid-image{
    width:100%;
    height:100%;
}

.grid-image:hover{
    transition:0.2s ease-in;
    transform:scale(1.1);
    border-radius:10px;
    
}

.image1{
    grid-area: I1;
}

.image2{
    grid-area: I2;
}
.image3{
    grid-area: I3;
}
.image4{
    grid-area: I4;
}
.image5{
    grid-area: I5;
}
.image6{
    grid-area: I6;
}
.image7{
    grid-area: I7;
}

.footer{
    width: 100%;
    min-height:400px;
    background-color: rgba(216, 112, 147, 0.686);
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap:30px;
}

.footer li{
    margin:10px;
}

.footer img{
    width:208px;
    height:78px;
}

.icons{
    font-size:1.3rem;
    /* margin: 10px; */
}


.footer ul{
    list-style-type:none;
}


@media( max-width:768px){
    .delivery-container{
        flex-direction:column;
    }

    .footer{
        flex-direction:column;
        justify-items: center;
        
    }

    .footer img{
        min-height:79px;
        max-width:208px;
    }
}